body{
   text-align: center;   /* sets the horizontal alignment of text within an element. */
}
.btn-container{
    display: flex;
     justify-content: center;  /*The justify-content property in CSS is used to align items along the main axis of a flex container */
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color:#819ff9;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
